<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A little story about our humble origins.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">A Small But Dedicated Start</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We began with Ed as the one man team with a vision. He wanted to bring his love of digital design to the world. As a small business entrepreneur himself, he decided to help Mom and Pop shops get a professional web image.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency Arises</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ed had some success with his first few projects. It became too much for one man to handle, so he linked up with a team. Three more members were brought aboard to serve a valuable set of clientele.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2014</h4>
                                    <h4 class="subheading">Arriving to a New Digital Destination</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A few years down the line the team had landed several consistent clients and worked on modernizing its approach to design and marketing. The agency became a well-oiled machine.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2015</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The agency decided go beyond local markets and serve clients in different cities, states, and even countries. We are continuing to expand our global presence. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be a Part
                                    <br>Of Our
                                    <br>History!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
